---
import Container from '~/components/Container.astro';
import Section from '~/components/Section.astro';
import { AccordeonGallery } from './AccordeonGallery';
---

<Section
  class="bg-neutral-dark text-white"
  title="Товари Компанії"
  description="Купити матеріали ви зможете у нашому інтернет-магазині за прийнятною ціною. Ми пропонуємо широкий асортимент праймерів та ізоляційних сумішей, штукатурок, рулонів, мастик і сумішей. Купуючи у нас, ви отримуєте недорогі та якісні гідроізоляційні матеріали від перевірених виробників, здатні на 100% впоратися зі своїми виробничими завданнями!"
>
  <Container>
    <AccordeonGallery client:load />
  </Container>
</Section>
