---
import { getCollection } from 'astro:content';
import Card from '~/components/common/Card';
import BaseLayout from '~/layouts/BaseLayout.astro';
import PageLayout from '~/layouts/PageLayout.astro';

const services = await getCollection('services');
---

<BaseLayout variant="light">
  <PageLayout variant="light" title="Послуги компанії">
    <ul class="space-y-20">
      {
        services.map((data, i) => (
          <li>
            <Card variant="large" data={data} number={i + 1} />
          </li>
        ))
      }
    </ul>
  </PageLayout>
</BaseLayout>
