@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-primary text-md-400 text-neutral-dark;
  }

  body {
    @apply overflow-x-hidden;
  }

  a {
    @apply cursor-pointer select-none;
  }

  svg {
    @apply block fill-current stroke-current;
  }

  address {
    @apply not-italic;
  }
}
