@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-primary text-md-400 text-neutral-dark;
  }

  body {
    @apply overflow-x-hidden;
  }

  a,
  button {
    @apply cursor-pointer select-none;
  }

  a,
  button,
  input,
  label {
    @apply [-webkit-tap-highlight-color:transparent];
  }

  img {
    @apply block w-full object-cover;
  }

  svg {
    @apply block fill-current stroke-current;
  }

  address {
    @apply not-italic;
  }
}
