---
import BaseLayout from '~/layouts/BaseLayout.astro';
import PageLayout from '~/layouts/PageLayout.astro';
---

<BaseLayout
  title="Укргідротрансбуд - про компанію"
  description="Укргідротрансбуд є одним з провідних в Україні спеціалізованих підприєиств, що має багаторічний досвід у сфері будівництва, обслуговування та реконструкції об'єктів комунальної, транспортної та промислової інфраструктури."
  variant="dark"
>
  <PageLayout
    variant="dark"
    title="Про Компанію"
    decorClass="border-b-neutral-soft"
    slotClass="bg-neutral-soft sm:bg-logo-dark sm:bg-no-repeat sm:[background-position:left_calc(50%-300px)_top_0px] md:[background-position:left_calc(50%-450px)_top_0px] sm:[background-size:600px]"
  >
    <section class="mb-20">
      <p class="mb-10 ml-auto text-xxl-500 sm:w-4/5">
        Засноване понад 20 років тому, приватне підприємство "Укргідротрансбуд"
        є одним з провідних в Україні спеціалізованих підприєиств, що виконують
        широкий спектр будівельних та ремотних робіт на промислових, житлових та
        інших об'єктах інфраструктури країни. Набуттю підприємством широкого
        досвіду в своїй галузі сприяла багаторічна кропітка робота з
        впровадження передових технологій виробництва, врахування останніх
        світових тенденцій в будівництві та використанні сучасних матеріалів.
      </p>
      <p class="ml-auto text-neutral-800 sm:w-4/5">
        Серед об'єктів, на яких підприємство виконує роботи, насамперед
        різноманітні промислові споруди, будівельні котловани та грунти,
        гідротехнічні споруди, каналізаційні очисні споруди, технологічні
        резервуари та каналізаційні мережі, підземна інфраструктура, тонелі,
        проїжджі частини доріг, під'їзди до житлових будинків, різноманітні
        майданчики, всі види приміщень, що потребують облаштування або
        будівництва захистних споруд, в тому числі, згідно принципу та
        технологій SATE.BOX.
      </p>
    </section>

    <section class="space-y-20">
      <h2 class="mb-20 text-H3-mobile text-brand lg:text-H3-desktop">
        Сфера діяльності
      </h2>

      <div class="space-y-10 sm:w-4/5">
        <h3 class="text-H5-mobile lg:text-H5-desktop">
          Промислові споруди, під'їздні шляхи, майданчики
        </h3>
        <p>
          Досвід діяльності підприємства при будівництві та модернізації
          багатьох промислових споруд дозволяє виконувати широкий спектр робіт.
          Ці обєкти піддаються найбільш інтенсивній експлуатації. Найчастіше
          виникає необхідність силового заповнювання тріщин та пустот в несучих
          бетонних та залізобетонних конструкціях, герметизація тріщин та швів
          для захисту від протікання, стабілізація несучих грунтів та
          вирівнювання плит підлоги, ін'єкціювання під проїжжу частину для
          стабілізації та невілювання.
        </p>
        <p>
          ПП "Укрідротрансбуд" ефективно застосовує ін'єкційні технології для
          забезпечення міцності конструкцій та грунтів, успішно застосовує
          різноманітні сучасні епоксидні смоли, цементні суспензії, тощо.
        </p>
      </div>

      <div class="ml-auto space-y-10 sm:w-4/5">
        <h3 class="text-H5-mobile lg:text-H5-desktop">
          Підземна інфрастуктура, тонелі
        </h3>
        <p>
          Будівництво та обслуговування підземної інфраструктури та тонелів
          висуває жорсткі умови до виконавців робіт. ПП "Укрідротрансбуд" має
          великий досвід з будівництва і відновлення підземної інфраструктури,
          завжди забезпечує ефективний робочий процес.
        </p>
        <p>
          Підприємство застосовує добре підібрані системи матеріалів.
          Різноманітні системи покриття, герметизація швидкотвердіючими
          розчинами та реакційними смолами, тощо, обладнання для роботи у
          важкодоступних місцях - забезпечують технічну досконалість
          виконуваних робіт. Широке застосування ін'єкційних технологій
          забезпечує водостійкість конструкцій, захист бетону від проникнення
          агресивних середовищ через тріщини та порожнини, антикорозійний захист
          арматури, надійну герметизацію тонелів, тощо.
        </p>
      </div>

      <div class="space-y-10 sm:w-4/5">
        <h3 class="text-H5-mobile lg:text-H5-desktop">
          Будівельні котловани та грунти
        </h3>
        <p>
          Герметичне огородження котлованів створює робочий простір для
          будівництва споруд в грунтах з різною водонасиченістю. Як наслідок -
          проблеми пов'язані з вимиванням та провалом грунту.
        </p>
        <p>
          ПП "Укрідротрансбуд" успішно вирішує задачі зупинки проривів води,
          надійного закріплення огородження котлованів, герметизації місць
          кріплення анкерів, стабілізації будівельного грунту. Застосовується
          широкий арсенал герметизуючих та посилюючих ін'єкційних технологій зі
          спеціальними системами смол, які індивідуально підбираються для
          різноманітних умов ін'єкціювання.
        </p>
      </div>
    </section>
  </PageLayout>
</BaseLayout>
