---
import Logo from '~/components/common/Logo.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
import PageLayout from '~/layouts/PageLayout.astro';
---

<BaseLayout variant="light">
  <PageLayout
    variant="light"
    title="Контакти Компанії"
    slotClass="bg-neutral-light"
  >
    <div class="mb-10 max-w-lg lg:mb-20">
      <h2 class="mb-10 text-H5-mobile text-brand lg:mb-12 lg:text-H5-desktop">
        Ми на мапі
      </h2>
      <p class="text-H5-mobile text-neutral-dark lg:text-H5-desktop">
        Ми завжди раді Вам у нашому офісі. До нас можна зручно та швидко
        дістатися з будь-якого району міста.
      </p>
    </div>
    <div class="sm:flex sm:justify-between sm:gap-10">
      <div id="map" class="mb-10 min-h-[400px] sm:mb-0 sm:w-2/3"></div>

      <div class="ml-auto text-neutral-dark">
        <Logo class="mb-10">УкрГідроТрансБуд</Logo>
        <address class="mb-6">
          <h3 class="mb-2 text-xxl-500 underline">Адреса</h3>
          <p class="text-xl-400">02099, м.Київ</p>
          <p class="text-xl-400">вул.Бориспільська, 9</p>
        </address>
        <div class="mb-6">
          <h3 class="mb-2 text-xxl-500 underline">Телефони</h3>
          <a href="tel:+38 067 695 37 76" class="block text-xl-400"
            >+38 067 695 37 76</a
          >
          <a href="tel:+38 067 695 37 76" class="block text-xl-400"
            >+38 050 357 36 91</a
          >
        </div>
        <div>
          <h3 class="mb-2 text-xxl-500 underline">Email</h3>
          <a href="mailto:ugtb2002@ukr.net" class="text-xl-400"
            >ugtb2002@ukr.net</a
          >
        </div>
      </div>
    </div>
  </PageLayout>
</BaseLayout>

<script type="module">
  var map = L.map('map').setView([50.4319, 30.66741], 13);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);
  var marker = L.marker([50.4319, 30.66741]).addTo(map);
  marker
    .bindPopup('<b>УКРГІДРОТРАНСБУД</b><br>м.Київ, вул.Бориспільська, 9')
    .openPopup();
</script>
