---
import BaseLayout from '~/layouts/BaseLayout.astro';
import PageLayout from '~/layouts/PageLayout.astro';
---

<BaseLayout variant="light">
  <PageLayout
    variant="light"
    title="Контакти Компанії"
    slotClass="bg-neutral-light"
  >
    <div class="flex flex-col gap-10 sm:flex-row-reverse sm:justify-between">
      <div class="ml-auto text-neutral-dark">
        <address class="mb-6">
          <h2 class="mb-10 text-H5-mobile lg:text-H5-desktop">
            ТОВ "Укргідротрансбуд"
          </h2>
          <h3 class="mb-2 text-xxl-500 underline">Адреса</h3>
          <p class="text-xl-400">
            м.Київ, вул.Бориспільська 9, корпус 91, офіс 707
          </p>
        </address>
        <div class="mb-6">
          <h3 class="mb-2 text-xxl-500 underline">Телефони</h3>
          <a href="tel:+380677090846" class="block text-xl-400"
            >+38 067 709 08 46</a
          >
          <a href="tel:+380503573691" class="block text-xl-400"
            >+38 050 357 36 91</a
          >
        </div>
        <div>
          <h3 class="mb-2 text-xxl-500 underline">Email</h3>
          <a href="mailto:ugtb2002@ukr.net" class="text-xl-400"
            >ugtb2002@ukr.net</a
          >
        </div>
      </div>

      <div class="w-full sm:w-2/3">
        {
          false && (
            <h2 class="text-H5-mobile text-brand lg:text-H5-desktop mb-10 lg:mb-12">
              Ми на мапі
            </h2>
          )
        }
        <div id="map" class="min-h-[400px] w-full"></div>
      </div>
    </div>
  </PageLayout>
</BaseLayout>

<script type="module">
  var map = L.map('map').setView([50.4319, 30.66741], 13);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);
  var marker = L.marker([50.4319, 30.66741]).addTo(map);
  marker
    .bindPopup('<b>УКРГІДРОТРАНСБУД</b><br>м.Київ, вул.Бориспільська, 9')
    .openPopup();
</script>
