---
import { getCollection } from 'astro:content';
import AboutSection from '~/components/AboutSection.astro';
import HeroSection from '~/components/HeroSection.astro';
import Container from '~/components/common/Container.astro';
import ImageSwiper from '~/components/common/ImageSwiper';
import Section from '~/components/common/Section.astro';
import ServiceCard from '~/components/common/ServiceCard.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
import { getImages } from '~/lib/helpers';

const services = await getCollection('services');
services.sort((a, b) => (a.data.number < b.data.number ? 1 : -1));

const projectImageFiles = await Astro.glob('/src/content/projects/images/*');
projectImageFiles.sort((a, b) => (a.default.src < b.default.src ? 1 : -1));
const projectImages = await getImages({
  files: projectImageFiles.slice(0, 10),
  width: 500,
  height: 500,
});
---

<BaseLayout variant="dark">
  <HeroSection />
  <AboutSection />

  <Section title="Послуги компанії" left="md" right="md">
    <Container class="pb-20" left="md" right="md">
      <ul class="space-y-16 lg:space-y-20">
        {
          services.map(service => (
            <li>
              <ServiceCard data={service} />
            </li>
          ))
        }
      </ul>
    </Container>
  </Section>

  <Section title="Останні проекти" class="bg-neutral-light">
    <Container class="pb-20" left="md" right="md">
      <ImageSwiper
        client:idle
        navClass="pr-6"
        imageClass="max-w-[500px]"
        buttonProps={{ children: 'Всі проекти', href: '/projects' }}
        data={projectImages}
      />
    </Container>
  </Section>
</BaseLayout>
