---
import { getCollection } from 'astro:content';
import AboutSection from '~/components/AboutSection.astro';
import AccordionSection from '~/components/AccordionSection.astro';
import HeroSection from '~/components/HeroSection.astro';
import SwiperSection from '~/components/SwiperSection.astro';
import { statistics } from '~/constants';
import BaseLayout from '~/layouts/BaseLayout.astro';

const services = await getCollection('services');
const projects = await getCollection('projects');
---

<BaseLayout variant="dark">
  <HeroSection
    text="Комплексні системні рішення для будівництва, обслуговування та реконструкції об'єктів комунальної, транспортної та промислової інфраструктури"
    linkText="Детальніше"
    linkHref="/services"
  >
    <Fragment slot="title">
      Будівництво та <span class="text-brand">реконструкція</span>
      інфраструктурних <span class="text-brand">об’єктів</span>
    </Fragment>
  </HeroSection>

  <AboutSection
    title="Про компанію"
    text={'ТОВ "Укргідротрансбуд" має багаторічний досвід у сфері будівництва, обслуговування та реконструкції об\'єктів комунальної, транспортної та промислової інфраструктури, забезпечуючи комплексні системні рішення. Ми завжди відкриті до співпраці з тими, хто шукає надійного та професійного партнера.'}
    statistics={statistics}
    linkText="Дізнатись більше"
    linkHref="/about"
  />

  <AccordionSection
    title="Послуги компанії"
    description="Купити матеріали ви зможете у нашому інтернет-магазині за прийнятною ціною. Ми пропонуємо широкий асортимент праймерів та ізоляційних сумішей, штукатурок, рулонів, мастик і сумішей. Купуючи у нас, ви отримуєте недорогі та якісні гідроізоляційні матеріали від перевірених виробників, здатні на 100% впоратися зі своїми виробничими завданнями!"
    accordionProps={{
      data: services,
    }}
  />

  <SwiperSection
    class="bg-neutral-light"
    title="Проекти компанії"
    swiperProps={{
      cardVariant: 'default',
      navVariant: 'white',
      linkVariant: 'primary',
      data: projects,
      linkText: 'Всі проекти',
      linkHref: '/projects',
    }}
  />

  <SwiperSection
    class="bg-white"
    title="Проекти компанії"
    swiperProps={{
      cardVariant: 'image',
      navVariant: 'brand',
      linkVariant: 'primary',
      data: projects,
      linkText: 'Всі проекти',
      linkHref: '/projects',
    }}
  />
</BaseLayout>
