---
import About from '~/components/About.astro';
import AccordeonSection from '~/components/Accordeon/AccordeonSection.astro';
import Container from '~/components/Container.astro';
import Hero from '~/components/Hero.astro';
import Section from '~/components/Section.astro';
import Swiper from '~/components/Swiper';
import { demoGoods } from '~/constants';
import BaseLayout from '~/layouts/BaseLayout.astro';
---

<BaseLayout>
  <Hero />
  <About />
  <AccordeonSection />

  <Section class="bg-neutral-light" title="Послуги компанії">
    <Container class="pb-20 lg:pb-30" left="md">
      <Swiper
        client:load
        cardsInfo={demoGoods}
        cardVariant="default"
        linkText="Всі послуги"
        linkHref="/"
      />
    </Container>
  </Section>

  <Section title="Проекти компанії">
    <Container class="pb-20 lg:pb-30" left="md">
      <Swiper
        client:only="preact"
        cardsInfo={demoGoods}
        cardVariant="image"
        navVariant="brand"
        linkText="Всі проекти"
        linkHref="/"
      />
    </Container>
  </Section>
</BaseLayout>
