---
import { getCollection } from 'astro:content';
import ProjectCard, { ProjectCardProps } from '~/components/common/ProjectCard';
import BaseLayout from '~/layouts/BaseLayout.astro';
import PageLayout from '~/layouts/PageLayout.astro';

const projects = await getCollection('projects');
projects.sort((a, b) => (a.data.date < b.data.date ? 1 : -1));
const cardProps = projects.reduce<ProjectCardProps[]>((acc, project) => {
  project.data.images.forEach(image => {
    acc.push({
      title: project.data.title,
      address: project.data.address,
      date: project.data.date,
      image,
    });
  });
  return acc;
}, []);
---

<BaseLayout title="Укргідротрансбуд - виконані проекти" variant="dark">
  <PageLayout variant="dark" title="Проекти Компанії">
    <ul
      class="grid grid-cols-1 place-items-center gap-y-8 sm:mt-20 sm:grid-cols-2 sm:gap-x-10 sm:gap-y-20 lg:gap-x-20"
    >
      {
        cardProps.map(props => (
          <li class="max-w-fit sm:odd:-translate-y-10 sm:even:translate-y-10">
            <ProjectCard
              class="aspect-square max-w-[500px] shadow-lg"
              {...props}
            />
          </li>
        ))
      }
    </ul>
  </PageLayout>
</BaseLayout>
