---
import { getCollection } from 'astro:content';
import ServiceCard from '~/components/common/ServiceCard.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
import PageLayout from '~/layouts/PageLayout.astro';

const services = await getCollection('services');
services.sort((a, b) => (a.data.number < b.data.number ? -1 : 1));
---

<BaseLayout
  title="Укргідротрансбуд - послуги компанії"
  description="Виконуємо монтаж та ремонт зовнішніх трубопроводів, гідроізоляцію, ремонт та підсилення стін і фундаментів, облаштовуємо бетонні доріжки, заїзди та майданчики."
  variant="dark"
>
  <PageLayout
    variant="dark"
    title="Послуги Компанії"
    decorClass="border-b-neutral-soft"
    slotClass="bg-neutral-soft"
  >
    <ul class="space-y-20">
      {
        services.map(service => (
          <li>
            <ServiceCard data={service} />
          </li>
        ))
      }
    </ul>
  </PageLayout>
</BaseLayout>
