---
import ButtonLink from './ButtonLink';
import Container from './Container.astro';
import Counter from './Counter';
import Section from './Section.astro';

const numbers = [
  { name: 'Років на ринку', value: 20 },
  { name: 'Завершених проектів', value: 510 },
  { name: 'Задоволених клієнтів', value: 378 },
  { name: 'Надійних партнерів', value: 50 },
];
---

<Section
  class="relative bg-neutral-dark bg-logo-white bg-no-repeat pt-12 text-white [background-position:left_calc(50%-450px)_bottom] [background-size:600px]"
  title="Про компанію"
  slotInside
>
  <div
    class="absolute inset-x-0 right-1/2 top-0 border-r-32 border-t-48 border-r-transparent border-t-brand lg:right-2/3"
  >
  </div>
  <div class="sm:ml-auto sm:max-w-3xl">
    <div class="mb-16 grid grid-cols-2 sm:grid-cols-4">
      {
        numbers.map(number => (
          <Counter client:load name={number.name} value={number.value} />
        ))
      }
    </div>
    <p class="mb-14 text-xxl-500">
      ТОВ "Укргідротрансбуд" має багаторічний досвід у сфері будівництва,
      обслуговування та реконструкції об'єктів комунальної, транспортної та
      промислової інфраструктури, забезпечуючи комплексні системні рішення. Ми
      завжди відкриті до співпраці з тими, хто шукає надійного та професійного
      партнера.
    </p>
    <ButtonLink variant="secondary" href="/">Дізнатись більше</ButtonLink>
  </div>
</Section>
