---
import type { HTMLAttributes } from 'astro/types';
import Icon from './Icon.astro';

interface Props extends HTMLAttributes<'a'> {
  variant: 'primary' | 'secondary' | 'tetriary';
}

const { variant = 'primary', class: className, ...props } = Astro.props;
---

<a
  class:list={[
    'group inline-flex items-center gap-6 px-6 py-4 text-button uppercase border border-solid',
    {
      'rounded bg-brand text-white border-brand': variant === 'primary',
      'rounded bg-white text-neutral-dark border-white':
        variant === 'secondary',
      'rounded-full bg-transparent text-current border-current hover:text-brand transition-colors':
        variant === 'tetriary',
    },
  ]}
  {...props}
  ><slot /><Icon
    class="h-6 w-6 transition-transform group-hover:translate-x-1"
    name="right-arrow"
  />
</a>
