---
import { navLinks } from '~/constants';
import Container from './common/Container.astro';
import Icon from './common/Icon';
import Logo from './common/Logo.astro';

const currentUrl = Astro.url.pathname;
---

<footer class="bg-brand pb-8 pt-20 text-white">
  <Container left="sm" right="sm">
    <div
      class="mb-20 flex flex-col gap-20 sm:flex-row sm:items-start sm:justify-between"
    >
      <p
        class="relative text-H4-mobile sm:w-3/5 md:py-4 md:pl-18 md:before:absolute md:before:inset-y-0 md:before:left-0 md:before:block md:before:w-[5px] md:before:-translate-x-[3px] md:before:bg-current lg:text-H4-desktop"
      >
        Шукаєте надійного партнера для реалізації будівельних проектів?
        Звертайтеся до нас!
      </p>

      <div class="sm:ml-auto">
        <Logo class="mb-8" href="/">УкрГідроТрансБуд</Logo>
        <address class="space-y-2 text-lg-400">
          <p class="flex items-center gap-2">
            <Icon name="location" />
            м.Київ, вул.Бориспільська, 9
          </p>
          <p class="flex items-center gap-2">
            <Icon name="mobile" />
            <a href="tel:+380676953776">+38 067 695 37 76</a>
          </p>
          <p class="flex items-center gap-2">
            <Icon name="email" />
            <a href="mailto:ugtb2002@ukr.net">ugtb2002@ukr.net</a>
          </p>
        </address>
      </div>
    </div>

    <ul
      class="mb-12 flex flex-col gap-4 border-t border-white pt-12 sm:mb-10 sm:flex-row sm:gap-8"
    >
      {
        navLinks.map(({ text, href }) => (
          <li>
            <a class="text-md-700" href={href} disabled={href === currentUrl}>
              {text}
            </a>
          </li>
        ))
      }
    </ul>
    <p class="center text-sm-400 text-neutral-light">
      Copyright © 2023 УКРГІДРОТРАНСБУД
    </p>
  </Container>
</footer>
