---
import ButtonLink from './common/ButtonLink';
import Container from './common/Container.astro';
import Logo from './common/Logo.astro';
import MobileMenu from './MobileMenu.astro';

interface Props {
  variant: 'dark' | 'light';
}

const { variant = 'dark' } = Astro.props;
---

<header
  class:list={[
    'absolute inset-x-0 top-0 z-50 border-b border-neutral backdrop-blur',
    {
      'text-white': variant === 'dark',
      'text-neutral-dark': variant === 'light',
    },
  ]}
>
  <Container
    class="flex h-16 items-center justify-between gap-8 lg:h-20"
    left="sm"
    right="sm"
  >
    <Logo class="relative mr-auto" href="/">
      <span class="sm:hidden">УГТБ</span>
      <span class="hidden sm:inline">УкрГідроТрансБуд</span>
    </Logo>
    <a class="hidden text-md-700 sm:block" href="tel:+380676953776">
      +38 067 695 37 76
    </a>
    <ButtonLink class="hidden lg:block" variant="tetriary" href="/contacts">
      Зв'язатися з нами
    </ButtonLink>
    <MobileMenu class="ml-8" variant={variant} />
  </Container>
</header>
