---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {
  title: string;
  description?: string;
  hasContainer?: boolean;
}

const { title, description, hasContainer, ...props } = Astro.props;
---

<section {...props}>
  <div class="container">
    <div class="pb-20 pt-10 sm:border-l sm:border-l-neutral sm:py-30">
      <div
        class="mb:20 flex flex-col gap-20 sm:mb-30 sm:flex-row sm:items-start sm:justify-between sm:border-l-4 sm:border-l-brand"
      >
        <h2 class="text-H3-mobile sm:py-6 sm:pl-16 sm:text-H3-desktop">
          {
            title
              .split(' ')
              .map(word => (
                <span class="even:text-brand capitalize">{word + ' '}</span>
              ))
          }
        </h2>
        {description && <p class="text-md-400 max-w-md">{description}</p>}
      </div>
    </div>
    {hasContainer && <slot />}
  </div>
  {!hasContainer && <slot />}
</section>
