---
import Container from './common/Container.astro';
import Section, { type Props as SectionProps } from './common/Section.astro';
import Swiper, { type SwiperProps } from './common/Swiper';

interface Props extends SectionProps {
  swiperProps: SwiperProps;
}

const { swiperProps, ...props } = Astro.props;
---

<Section {...props}>
  <Container class="pb-20 lg:pb-30" left="md">
    <Swiper client:idle navClass="pr-6" {...swiperProps} />
  </Container>
</Section>
