---
import BaseLayout from '~/layouts/BaseLayout.astro';
import PageLayout from '~/layouts/PageLayout.astro';

const files = await Astro.glob('/public/gallery/*');
const images = files.map(item =>
  item.default.src.split('?')[0].replace('/public', '')
);
images.sort((a, b) => (a < b ? 1 : -1));
---

<BaseLayout variant="light">
  <PageLayout variant="light" title="Проекти компанії">
    <ul
      class="grid grid-cols-1 gap-y-8 sm:mt-20 sm:grid-cols-2 sm:gap-x-10 sm:gap-y-20 lg:gap-x-20"
    >
      {
        images.map(item => (
          <li class="sm:odd:-translate-y-10 sm:even:translate-y-10">
            <img class="h-[400px] shadow-lg" src={item} alt="" />
          </li>
        ))
      }
    </ul>
  </PageLayout>
</BaseLayout>
