---
import type { CardInfo } from '~/types';
import Card, { type CardProps } from './Card';

interface Props {
  variant?: 'default';
  cardVariant?: CardProps['variant'];
  cardsInfo: CardInfo[];
}

const { variant = 'default', cardVariant = 'default', cardsInfo } = Astro.props;
---

<ul
  class="grid grid-cols-1 gap-y-8 py-20 sm:grid-cols-2 sm:gap-x-10 sm:gap-y-20"
>
  {
    cardsInfo.map(info => (
      <li class="sm:odd:-translate-y-10 sm:even:translate-y-10">
        <Card variant={cardVariant} info={info} />
      </li>
    ))
  }
</ul>
