---
import type { CardInfo } from '~/types';
import Card, { type CardProps } from './Card';

interface Props {
  cardVariant?: CardProps['variant'];
  data: CardInfo[];
}

const { cardVariant = 'default', data } = Astro.props;
---

<ul
  class="grid grid-cols-1 gap-y-8 sm:mt-20 sm:grid-cols-2 sm:gap-x-10 sm:gap-y-20 lg:gap-x-20"
>
  {
    data.map(item => (
      <li class="sm:odd:-translate-y-10 sm:even:translate-y-10">
        <Card variant={cardVariant} data={item} />
      </li>
    ))
  }
</ul>
