---
import '@fontsource/montserrat';
import Footer from '~/components/Footer.astro';
import Header, { type Props as HeaderProps } from '~/components/Header.astro';
import '~/styles/tailwind.css';

interface Props {
  title?: string;
  variant?: HeaderProps['variant'];
}

const { title = 'УГТБ', variant = 'dark' } = Astro.props;
---

<html lang="uk">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header variant={variant} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
