---
import Container from '~/components/Container.astro';
import Logo from '~/components/Logo.astro';
import { navLinks } from '~/constants';

const currentUrl = Astro.url.pathname;
---

<footer class="bg-brand pb-8 pt-10 text-white lg:pt-30">
  <Container left="sm" right="sm">
    <div
      class="mb-20 flex flex-col gap-16 sm:flex-row sm:items-start sm:justify-between"
    >
      <p
        class="relative text-H4-mobile sm:w-3/5 md:py-6 md:pl-18 md:before:absolute md:before:inset-y-0 md:before:left-0 md:before:block md:before:w-[5px] md:before:-translate-x-[3px] md:before:bg-current lg:text-H4-desktop"
      >
        Шукаєте надійного партнера для реалізації будівельних проектів?
        Звертайтеся до нас!
      </p>

      <div class="sm:w-2/5">
        <Logo class="mb-10">УкрГідроТрансБуд</Logo>
        <address class="mb-6">
          <h3 class="mb-2 text-xxl-500 underline">Адреса</h3>
          <p class="text-xl-400">02099, м.Київ</p>
          <p class="text-xl-400">вул.Бориспільська, 9</p>
        </address>
        <div class="mb-6">
          <h3 class="mb-2 text-xxl-500 underline">Телефони</h3>
          <p class="text-xl-400">+38 067 695 37 76</p>
          <p class="text-xl-400">+38 050 357 36 91</p>
        </div>
        <div>
          <h3 class="mb-2 text-xxl-500 underline">Email</h3>
          <p class="text-xl-400">ugtb2002@ukr.net</p>
        </div>
      </div>
    </div>

    <ul
      class="mb-12 flex flex-col gap-6 border-t border-white pt-12 sm:mb-10 sm:flex-row sm:gap-8"
    >
      {
        navLinks.map(({ text, href }) => (
          <li>
            <a class="text-md-700" href={href} disabled={href===currentUrl}>
              {text}
            </a>
          </li>
        ))
      }
    </ul>
    <p class="center text-sm-400 text-neutral-light">
      Copyright © 2023 УКРГІДРОТРАНСБУД
    </p>
  </Container>
</footer>
