---
import Container from '~/components/common/Container.astro';

interface Props {
  variant: 'dark' | 'light';
  title: string;
  subtitle?: string;
  slotClass?: string;
}

const { variant = 'dark', title, subtitle, slotClass } = Astro.props;

const [firstWord, ...restWords] = (subtitle ?? '').split(' ');
---

{
  variant === 'dark' ? (
    <div class="bg-neutral-dark relative">
      <Container left="sm" right="sm" class="pb-22 lg:pt-105 pt-72 lg:pb-32">
        <h1 class="text-xl-500 text-neutral-soft mb-8">{title}</h1>
        <p class="text-H2-mobile lg:text-H2-desktop text-white sm:max-w-[700px]">
          <>
            <span class="text-brand">{firstWord}</span>
            <span>{' ' + restWords.join(' ')}</span>
          </>
        </p>
        <div class="border-b-48 border-l-32 absolute inset-x-0 bottom-0 left-1/2 border-b-white border-l-transparent lg:left-1/3" />
      </Container>
    </div>
  ) : (
    <div class="border-b-neutral border-b bg-white">
      <Container left="sm" right="sm" class="pt-46 lg:pb-30 pb-20 lg:pt-56">
        <h1 class="text-H2-mobile text-brand lg:text-H2-desktop">{title}</h1>
      </Container>
    </div>
  )
}

<div class={slotClass}>
  <Container left="lg" right="lg" class="pb-22 pt-16 lg:pb-30 lg:pt-20">
    <slot />
  </Container>
</div>
